<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cfc>
            <general>
                <enable>0</enable>
                <mode>1</mode>
                <offset>2</offset>
                <topup>100</topup>
                <widget_location>cart,checkout</widget_location>
                <sku_enable>0</sku_enable>
                <sku_value>carbon-offset</sku_value>
            </general>
            <lookandfeel>
            	<plugincolors>
            		<border_color>#2aa43c</border_color>
            		<background_color>#ffffff</background_color>
            		<background_color_expanded>#EAF9EC</background_color_expanded>
            		<icons_color>#2AA43C</icons_color>
            		<text_color_top_section>#000000</text_color_top_section>
            		<large_text_color_expanded>#000000</large_text_color_expanded>
            		<small_text_color_expanded>#000000</small_text_color_expanded>
            	</plugincolors>
            	<buttoncolors>
            		<border_color>#2AA43C</border_color>
            		<background_color>#2AA43C</background_color>
            		<text_color>#ffffff</text_color>
            		<plus_icon_color>#ffffff</plus_icon_color>
            		<background_color_selected>#ffffff</background_color_selected>
            		<text_color_selected>#000</text_color_selected>
            		<checkmark_icon_selected>#2AA43C</checkmark_icon_selected>
            	</buttoncolors>
            	<cfclogo>
            		<color_option>standard</color_option>
            	</cfclogo>
            	<cfcproductimage>
            		<color_option>standard</color_option>
            	</cfcproductimage>
            </lookandfeel>
        </cfc>
    </default>
</config>